{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}

{% block body %}
	<div>
		{% block header %}
			{% include 'main/header.html.twig' %}
		{% endblock %}
	</div>
	<div>
		<h2 class="room-title">{{ room.name }}</h2>
        <h2 class="room-title">{{ room.description }}</h2>
        <h2 class="room-title">created at {{ room.createdAt.format('d-m-y') }}</h2>
        <h2 class="room-title">by {{ room.owner }}</h2>
	</div>
	<div>
		{% block footer %}
			{% include 'main/footer.html.twig' %}
		{% endblock %}
	</div>

{% endblock %}
